<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".m4v" />
            <remove fileExtension=".m4a" />
            <mimeMap fileExtension=".m4a" mimeType="audio/m4a" />
            <mimeMap fileExtension=".m4v" mimeType="audio/mp4" />
            <mimeMap fileExtension=".02" mimeType="application/javascript" />
            <mimeMap fileExtension=".01" mimeType="application/javascript" />
        </staticContent>
        <urlCompression doStaticCompression="false" />
    </system.webServer>
</configuration>