abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, kbd, label, legend, li, main, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    background: 0 0;
    font-size: 100%;
    vertical-align: baseline
}

body {
    background-image: url(https://api.dujin.org/bing/1920.php);
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body.navi {
    background: #fff;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block
}

    li, nav ul {
        list-style: none
    }

blockquote, q {
    quotes: none
}

    blockquote:after, blockquote:before, q:after, q:before {
        content: '';
        content: none
    }

a {
    margin: 0;
    padding: 0;
    background: 0 0;
    color: transparent;
    font-size: 100%;
    vertical-align: baseline
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700
}

del {
    text-decoration: line-through
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc
}

input, select {
    vertical-align: middle
}

.clearfix {
    zoom: 1
}

    .clearfix::after {
        content: "";
        clear: both;
        display: block
    }

a {
    outline: 0;
    color: inherit;
    font-size: 100%;
    text-decoration: none
}

    a:link, a:visited {
        color: #004986;
        text-decoration: underline
    }

    a:active, a:hover {
        color: #5a8fba;
        text-decoration: none
    }

i {
    font-style: normal
}

img {
    vertical-align: top
}

.pc-only {
    display: block
}

.pc-only-inline {
    display: inline
}

.sp-only, .sp-only-inline {
    display: none
}

.clearfix {
    zoom: 1
}

    .clearfix:after {
        content: "";
        clear: both;
        display: block
    }

#pagetop {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    font-size: 0;
    line-height: 0
}

#blind {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9001;
    width: 100%;
    height: 100%;
    background-color: #00f;
    transform-origin: 0 50%
}

    #blind.is--reverse {
        transform-origin: 100% 50%
    }

.blind__logo {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 9002;
    width: 16.14583vw;
    line-height: 1em
}

    .blind__logo svg {
        width: 16.14583vw;
        height: auto;
        vertical-align: top
    }

.blind__logo__inner {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%
}

.blind__logo.eff--none {
    opacity: 0
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1
}

.container {
    display: block;
    position: relative;
    width: 100%;
    z-index: 0;
    min-width: 1100px;
    overflow: hidden
}

.header {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 10
}

.header__inner {
    width: 100%;
    position: relative
}

.header__logo {
    position: fixed;
    left: 160px;
    top: 50px;
    z-index: 10;
    line-height: 1em;
    vertical-align: top
}

.header__menu {
    position: fixed;
    left: 40px;
    top: 40px;
    z-index: 10
}

    .header__menu a {
        display: block;
        position: relative;
        line-height: 1em;
        text-decoration: none;
        color: #fff;
        zoom: 1;
        padding: 10px
    }

        .header__menu a::after {
            content: "";
            clear: both;
            display: block
        }

        .header__menu a:hover .header__menu__text {
            transform: translateX(5px)
        }

    .header__menu.is--active .header__menu__icon__bar1 {
        transform: translateY(4px) rotate(45deg)
    }

    .header__menu.is--active .header__menu__icon__bar2 {
        transform: scaleX(0) scaleY(1)
    }

    .header__menu.is--active .header__menu__icon__bar3 {
        transform: translateY(-4px) rotate(-45deg)
    }

.header__menu__icon {
    width: 10px;
    height: 14px;
    display: block;
    float: left;
    position: relative
}

.header__menu__icon__bar1, .header__menu__icon__bar2, .header__menu__icon__bar3 {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transform-origin: 50% 50%;
    transition: all .3s
}

.header__menu__icon__bar1 {
    top: 2px
}

.header__menu__icon__bar2 {
    top: 6px
}

.header__menu__icon__bar3 {
    top: 10px
}

.header__menu__text {
    font-size: 10px;
    letter-spacing: .15em;
    font-weight: 700;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: block;
    float: left;
    margin-left: 12px;
    transition: all .2s
}

    .header__menu__text span {
        display: block;
        overflow: hidden;
        white-space: nowrap
    }

.header__lyric {
    color: #fff;
    width: 280px;
    font-weight: 700;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .15em;
    line-height: 1.85em;
    font-size: 20px;
    transform-origin: 0 0;
    transform: scale(.7);
    position: fixed;
    right: 0;
    z-index: 1;
    white-space: nowrap
}

.header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    display: none
}

    .header__nav.is--show {
        display: block
    }

.header__nav__cover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #00f;
    transform-origin: 0 50%
}

    .header__nav__cover.is--reverse {
        transform-origin: 100% 50%
    }

.header__nav__inner {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0
}

    .header__nav__inner::before {
        content: '';
        display: block;
        width: 50%;
        height: 100%;
        background-color: #00f;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0
    }

    .header__nav__inner::after {
        content: '';
        display: block;
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
        background: url(../img/common/nav_text.png) left center no-repeat;
        background-size: cover
    }

.header__nav__list {
    position: absolute;
    left: 50px;
    top: 46%;
    transform: translateY(-50%);
    z-index: 1
}

    .header__nav__list li {
        line-height: 1em;
        margin-bottom: 48px
    }

        .header__nav__list li:last-child {
            margin-bottom: 0
        }

        .header__nav__list li.is--none {
            pointer-events: none;
            opacity: .3
        }

    .header__nav__list a {
        color: #fff;
        text-decoration: none;
        font-size: 27px;
        letter-spacing: .15em;
        line-height: 1em;
        font-weight: 700;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        padding-left: 30px;
        position: relative
    }

        .header__nav__list a::before {
            content: '';
            display: block;
            width: 13px;
            height: 4px;
            background-color: #fff;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-2px,-50%);
            transition: all .2s
        }

        .header__nav__list a:hover::before {
            width: 23px
        }

        .header__nav__list a:hover span {
            transform: translateX(10px)
        }

    .header__nav__list span {
        display: block;
        transition: all .2s
    }

.header__nav__news {
    position: absolute;
    left: 50px;
    bottom: 45px;
    z-index: 1
}

.header__nav__news__head {
    font-size: 10px;
    letter-spacing: .15em;
    color: #fff;
    font-weight: 700;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1em;
    margin-bottom: 15px
}

.header__nav__news__list {
    width: 200px
}

    .header__nav__news__list li {
        font-size: 13px;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        line-height: 1.73em;
        display: none
    }

        .header__nav__news__list li.is--current {
            display: block
        }

    .header__nav__news__list a {
        color: #fff;
        text-decoration: none
    }

.footer {
    display: block;
    width: 100%;
    background-color: #fff;
    position: relative
}

.footer__inner {
    width: 980px;
    margin: 0 auto;
    position: relative;
    padding: 100px 0
}

.footer__logo {
    margin-bottom: 35px;
    position: relative;
    z-index: 1;
    width: 50%
}

.footer__nav {
    zoom: 1;
    width: 340px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1
}

    .footer__nav::after {
        content: "";
        clear: both;
        display: block
    }

.footer__nav__block {
    width: 50%;
    float: left
}

    .footer__nav__block p {
        margin-bottom: 25px;
        line-height: 1em
    }

        .footer__nav__block p:last-child {
            margin-bottom: 0
        }

        .footer__nav__block p.is--none {
            pointer-events: none;
            opacity: .3
        }

    .footer__nav__block a {
        text-decoration: none;
        color: #000;
        font-size: 17px;
        letter-spacing: .15em;
        font-weight: 700;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        line-height: 1em;
        padding-left: 20px;
        position: relative;
        display: inline-block
    }

        .footer__nav__block a::before {
            content: '';
            display: block;
            width: 8px;
            height: 2px;
            background-color: #000;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            margin-top: -2px;
            transition: all .2s ease-in-out
        }

        .footer__nav__block a:hover::before {
            width: 16px
        }

        .footer__nav__block a:hover span {
            transform: translateX(8px)
        }

    .footer__nav__block span {
        display: block;
        transition: all .2s ease-in-out
    }

.footer__company {
    letter-spacing: 0;
    font-size: 0;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
    width: 50%
}

    .footer__company li {
        letter-spacing: normal;
        font-size: medium;
        display: inline-block;
        margin-right: 40px;
        vertical-align: top
    }

        .footer__company li:last-child {
            padding-top: 7px;
            margin-right: 0
        }

    .footer__company a {
        display: block
    }

.footer__sns {
    letter-spacing: 0;
    font-size: 0;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    width: 50%
}

    .footer__sns li {
        letter-spacing: normal;
        font-size: medium;
        display: inline-block;
        margin-right: 45px;
        vertical-align: top
    }

    .footer__sns a {
        display: block;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: .13em;
        font-weight: 700;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        line-height: 1em
    }

    .footer__sns span {
        display: inline-block;
        margin-right: 10px
    }

.footer__sns__twitter a {
    color: #00f
}

.footer__sns__youtube a {
    color: red
}

.flooter__links {
    letter-spacing: 0;
    font-size: 0;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    width: 50%
}

    .flooter__links li {
        letter-spacing: normal;
        font-size: medium;
        display: inline-block;
        margin-right: 20px
    }

    .flooter__links a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: .05em
    }

.footer__rights {
    color: #000;
    font-size: 11px;
    letter-spacing: .05em;
    line-height: 1.8em;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    width: 50%
}

.footer__copyright {
    color: #000;
    font-size: 11px;
    letter-spacing: .05em;
    line-height: 1em;
    font-weight: 700;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    position: relative;
    z-index: 1;
    width: 50%
}

.footer__chara__visual {
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 0
}

    .footer__chara__visual span {
        display: none
    }

        .footer__chara__visual span.is--current {
            display: block
        }

    .footer__chara__visual a {
        display: block;
        width: 100%;
        height: 100%
    }

    .footer__chara__visual img {
        pointer-events: none
    }

    .footer__chara__visual .footer__chara__visual__c1 {
        transform: translateX(-20px)
    }

    .footer__chara__visual .footer__chara__visual__c2 {
        transform: translateX(-48px)
    }

    .footer__chara__visual .footer__chara__visual__c3 {
        transform: translateX(-65px)
    }

    .footer__chara__visual .footer__chara__visual__c4 {
        transform: translateX(10px)
    }

    .footer__chara__visual .footer__chara__visual__c5 {
        transform: translateX(-34px)
    }

    .footer__chara__visual .footer__chara__visual__c6 {
        transform: translateX(-29px)
    }

    .footer__chara__visual .footer__chara__visual__c7 {
        transform: translateX(8px)
    }

    .footer__chara__visual .footer__chara__visual__c8 {
        transform: translateX(-141px)
    }

    .footer__chara__visual .footer__chara__visual__c9 {
        transform: translateX(-48px)
    }

    .footer__chara__visual .footer__chara__visual__c10 {
        transform: translateX(0)
    }

    .footer__chara__visual .footer__chara__visual__c11 {
        transform: translateX(-280px)
    }

    .footer__chara__visual .footer__chara__visual__c12 {
        transform: translateX(-272px)
    }

    .footer__chara__visual .footer__chara__visual__c13 {
        transform: translateX(-58px)
    }

    .footer__chara__visual .footer__chara__visual__c14 {
        transform: translateX(5px)
    }

    .footer__chara__visual .footer__chara__visual__c15 {
        transform: translateX(29px)
    }

    .footer__chara__visual .footer__chara__visual__c16 {
        transform: translateX(-48px)
    }

    .footer__chara__visual .footer__chara__visual__c17 {
        transform: translateX(-16px)
    }

    .footer__chara__visual .footer__chara__visual__c18 {
        transform: translateX(-44px)
    }

.btn--pagetop {
    position: fixed;
    z-index: 7;
    right: 5px;
    bottom: 50px;
    width: 72px;
    height: 150px;
    opacity: 0;
    transform: translateY(50px);
    transition: all .3s
}

    .btn--pagetop a {
        text-decoration: none;
        color: #fff;
        display: block;
        position: relative;
        width: 100%;
        height: 100%
    }

        .btn--pagetop a:hover .btn--pagetop__icon {
            -webkit-animation: pagetopanimation .3s ease-out;
            animation: pagetopanimation .3s ease-out
        }

    .btn--pagetop.is--show {
        opacity: 1;
        transform: translateY(0)
    }

.btn--pagetop__icon {
    display: block
}

.btn--pagetop__text {
    display: block;
    font-weight: 700;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .15em;
    line-height: 1em;
    font-size: 10px;
    transform-origin: 100% 100%;
    transform: rotate(90deg) scale(.8) translate(0,62px);
    position: absolute;
    left: 0;
    bottom: 0;
    white-space: nowrap
}

.swiper-wrapper {
    z-index: 1;
    display: flex;
    position: relative
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-shrink: 0
}

#modal, #modalImageWrap {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
    overflow: auto;
    display: none
}

.modal__inner {
    display: table;
    width: 100%;
    height: 100%;
    position: relative
}

.modal__block {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 50px 0
}

.modal__btnClose {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1
}

    .modal__btnClose a {
        display: block
    }

.modal__closeBg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0
}

.modal__image {
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: none
}

.modal__image__inner {
    position: relative;
    zoom: 1;
    text-align: center;
    display: inline-block
}

    .modal__image__inner::after {
        content: "";
        clear: both;
        display: block
    }

.modal__image__details__ph {
    pointer-events: none;
    position: relative;
    margin: 0 auto;
    display: inline-block;
    z-index: 0
}

    .modal__image__details__ph img {
        max-width: 1000px;
        height: auto
    }

.modal__image__btnClose {
    width: 80px;
    height: 80px;
    position: absolute;
    left: -80px;
    top: 0;
    z-index: 2;
    display: table
}

    .modal__image__btnClose a {
        background-color: #1428ff;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        line-height: 1em;
        transition: all .2s
    }

        .modal__image__btnClose a:hover {
            background-color: #000
        }

.modal__movie {
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: left;
    display: none
}

.modal__movie__inner {
    position: relative;
    zoom: 1;
    margin: 0 50px;
    background-color: #000
}

    .modal__movie__inner::after {
        content: "";
        clear: both;
        display: block
    }

.modal__movie__details__frame {
    position: relative;
    line-height: 1em;
    text-align: center
}

    .modal__movie__details__frame iframe {
        vertical-align: top
    }

.modal__movie__btnClose {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: -80px;
    z-index: 1;
    display: table
}

    .modal__movie__btnClose a {
        background-color: #1428ff;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        line-height: 1em;
        transition: all .2s
    }

        .modal__movie__btnClose a:hover {
            background-color: #000
        }

.categories {
    position: relative;
    width: 100%;
    z-index: 0;
    margin-bottom: 100px
}

.categories__inner {
    width: 980px;
    margin: 0 auto;
    position: relative
}

.categories__list ul {
    letter-spacing: 0;
    font-size: 0
}

.categories__list li {
    letter-spacing: normal;
    font-size: medium;
    display: inline-block;
    width: 130px;
    margin-right: 40px;
    text-align: center;
    vertical-align: top;
    line-height: 1em
}

    .categories__list li:nth-child(6n) {
        margin-right: 0
    }

    .categories__list li.is--current a {
        color: #1428ff
    }

        .categories__list li.is--current a::before {
            background-color: #1428ff
        }

    .categories__list li.is--none {
        pointer-events: none;
        opacity: .3
    }

.categories__list a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 51px;
    transition: all .2s ease-in-out
}

    .categories__list a::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 0
    }

    .categories__list a:hover {
        color: #1428ff
    }

        .categories__list a:hover::before {
            -webkit-animation: baranimation .3s ease-out forwards;
            animation: baranimation .3s ease-out forwards
        }

@-webkit-keyframes pagetopanimation {
    0% {
        transform: translateY(0)
    }

    49% {
        transform: translateY(-15px);
        opacity: 0
    }

    50% {
        transform: translateY(15px)
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes pagetopanimation {
    0% {
        transform: translateY(0)
    }

    49% {
        transform: translateY(-15px);
        opacity: 0
    }

    50% {
        transform: translateY(15px)
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}

.bar_container {
    display: flex;
    flex-direction: row;
    height: 100vh; 
    width: 100vw;
}

.bar_section {
    flex: 1; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

    .bar_section::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; 
        pointer-events: none; 
        background-color: rgba(255,255,255,0.4);
        mix-blend-mode: luminosity; 
        transition: background-color 0.5s ease;
    }

@media (prefers-color-scheme: dark) {
    .bar_section::before {
        background-color: rgba(0,0,0,0.4);
        transition: background-color 0.5s ease;
    }

    .bar_section:hover::before {
        background-color: rgba(0,0,0,0);
    }
}

@media (prefers-color-scheme: light) {
    .bar_section::before {
        background-color: rgba(255,255,255,0.4);
        transition: background-color 0.5s ease;
    }

    .bar_section:hover::before {
        background-color: rgba(255,255,255,0);
    }

}

.bar_section img {
    height: 100vh;
    width: 25vw;
    object-fit: cover;
    transition: filter 0.5s ease, transform 0.5s ease;
}

.bar_arrow-button::after {
    content: '';
    position: absolute;
    right: 0.3vw; 
    top: 50%; 
    transform: translateY(-50%);
    width: 4vw; 
    height: 4vw; 
    background: url("../project/img/common/icon_arw1.png") no-repeat center center;
    background-size: contain;
    transition: transform 0.5s ease;
}

.bar_section:hover img {
    transform: scale(1.05);
}

.bar_section:hover .bar_arrow-button {
    transform: translateY(-50%) translateX(0.3vw);
}

.bar_section:hover::before {
    background-color: rgba(255,255,255,0);
}

@media screen and (max-width:950px) {
    body {
        background-image: url(https://api.xygeng.cn/Bing/);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    i {
        font-style: normal
    }

    a {
        outline: 0;
        color: inherit;
        font-size: 100%;
        text-decoration: none
    }

    .pc-only, .pc-only-inline {
        display: none
    }

    .sp-only {
        display: block
    }

    .sp-only-inline {
        display: inline-block
    }

    #pagetop {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        font-size: 0;
        line-height: 0
    }

    #blind {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9001;
        width: 100%;
        height: 100%;
        background-color: #00f;
        transform-origin: 0 50%
    }

        #blind.is--reverse {
            transform-origin: 100% 50%
        }

    .blind__logo {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 9002;
        width: 48.4375vw;
        line-height: 1em
    }

        .blind__logo svg {
            width: 48.4375vw;
            height: auto;
            vertical-align: top
        }

    .blind__logo__inner {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        width: 100%
    }

    .container {
        display: block;
        position: relative;
        width: 100%;
        z-index: 2;
        min-width: 100%;
        overflow: hidden
    }

    .scrollContainer {
        transition-timing-function: cubic-bezier(.075,.82,.165,1);
        transition: none;
        position: relative;
        z-index: 2;
        width: 100%
    }

    .header {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        top: 6.25vw;
        z-index: 10
    }

        .header::before {
            content: '';
            display: block;
            width: 100%;
            height: 18.75vw;
            position: fixed;
            left: 0;
            top: 0;
            z-index: 0;
            background-size: 100% 100%
        }

    .header__inner {
        width: 100%;
        position: relative
    }

    .header__logo {
        position: fixed;
        left: 50%;
        top: 6.25vw;
        z-index: 10;
        line-height: 1em;
        vertical-align: top;
        transform: translateX(-50%)
    }

        .header__logo svg {
            height: 4.0625vw;
            width: auto
        }

    .header__menu {
        position: fixed;
        left: 4.68%;
        top: 4.6875vw;
        z-index: 10
    }

        .header__menu a {
            display: block;
            position: relative;
            line-height: 1em;
            text-decoration: none;
            color: #fff;
            zoom: 1;
            padding: 1.5625vw
        }

            .header__menu a::after {
                content: "";
                clear: both;
                display: block
            }

            .header__menu a:hover .header__menu__text {
                transform: none
            }

        .header__menu.is--active .header__menu__icon__bar1 {
            transform: translateY(1.2vw) rotate(45deg)
        }

        .header__menu.is--active .header__menu__icon__bar2 {
            transform: scaleX(0) scaleY(1)
        }

        .header__menu.is--active .header__menu__icon__bar3 {
            transform: translateY(-1vw) rotate(-45deg)
        }

    .header__menu__icon {
        width: 3.125vw;
        height: 4.0625vw;
        display: block;
        float: left;
        position: relative
    }

    .header__menu__icon__bar1, .header__menu__icon__bar2, .header__menu__icon__bar3 {
        display: block;
        width: 100%;
        height: .3125vw;
        background-color: #fff;
        position: absolute;
        left: 0;
        transform-origin: 50% 50%;
        transition: all .3s
    }

    .header__menu__icon__bar1 {
        top: .78125vw
    }

    .header__menu__icon__bar2 {
        top: 1.875vw
    }

    .header__menu__icon__bar3 {
        top: 2.96875vw
    }

    .header__menu__text {
        letter-spacing: .15em;
        font-weight: 700;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: block;
        float: left;
        margin-left: 3.125vw;
        pointer-events: none;
        transition: all .2s
    }

        .header__menu__text span {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            font-size: 4.6875vw;
            transform-origin: 0 50%;
            transform: scale(.5)
        }

    .header__lyric {
        display: none
    }

    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9;
        display: none
    }

        .header__nav.is--show {
            display: block
        }

    .header__nav__cover {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background-color: #00f;
        transform-origin: 0 50%
    }

        .header__nav__cover.is--reverse {
            transform-origin: 100% 50%
        }

    .header__nav__inner {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0
    }

        .header__nav__inner::before {
            content: '';
            display: block;
            width: 50%;
            height: 100%;
            background-color: #00f;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0
        }

        .header__nav__inner::after {
            content: '';
            display: block;
            width: 50%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
            background: url(/shared/img/common/nav_text.png) left center no-repeat;
            background-size: cover
        }

    .header__nav__list {
        position: absolute;
        left: 6.25%;
        top: 46%;
        transform: translateY(-50%);
        z-index: 1
    }

        .header__nav__list li {
            line-height: 1em;
            margin-bottom: 6.25vw
        }

            .header__nav__list li:last-child {
                margin-bottom: 0
            }

            .header__nav__list li.is--none {
                pointer-events: none;
                opacity: .3
            }

        .header__nav__list a {
            color: #fff;
            text-decoration: none;
            font-size: 5.9375vw;
            letter-spacing: .15em;
            line-height: 1em;
            font-weight: 700;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            padding-left: 4.6875vw;
            position: relative
        }

            .header__nav__list a::before {
                content: '';
                display: block;
                width: 2.5vw;
                height: .625vw;
                background-color: #fff;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(-2px,-50%);
                transform: translate(-.625vw,-50%)
            }

            .header__nav__list a:hover::before {
                width: 23px
            }

            .header__nav__list a:hover span {
                transform: translateX(10px)
            }

        .header__nav__list span {
            display: block;
            transition: all .2s
        }

    .header__nav__news {
        position: absolute;
        left: 6.25%;
        bottom: 6.25vw;
        z-index: 1
    }

    .header__nav__news__head {
        font-size: 3.125vw;
        letter-spacing: .15em;
        color: #fff;
        font-weight: 700;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        line-height: 1em;
        margin-bottom: 2.34375vw
    }

    .header__nav__news__list {
        width: 80%
    }

        .header__nav__news__list li {
            font-size: 4.0625vw;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            line-height: 1.4em;
            display: none;
            overflow: hidden
        }

            .header__nav__news__list li.is--current {
                display: block
            }

        .header__nav__news__list a {
            color: #fff;
            text-decoration: none
        }

    .footer {
        display: block;
        width: 100%;
        background-color: #fff;
        position: relative
    }

    .footer__inner {
        width: 100%;
        margin: 0 auto;
        position: relative;
        padding-top: 12.5vw;
        padding-bottom: 0
    }

    .footer__logo {
        width: 87.5%;
        margin: 0 auto;
        margin-bottom: 7.8125vw;
        line-height: 1em
    }

        .footer__logo svg {
            height: 5.9375vw;
            width: auto;
            vertical-align: top
        }

    .footer__nav {
        zoom: 1;
        width: 87.5%;
        margin: 0 auto;
        margin-bottom: 9.375vw
    }

        .footer__nav::after {
            content: "";
            clear: both;
            display: block
        }

    .footer__nav__block {
        width: 50%;
        float: left
    }

        .footer__nav__block p {
            margin-bottom: 5.625vw;
            line-height: 1em
        }

            .footer__nav__block p:last-child {
                margin-bottom: 0
            }

            .footer__nav__block p.is--none {
                pointer-events: none;
                opacity: .3
            }

        .footer__nav__block a {
            text-decoration: none;
            color: #000;
            font-size: 3.90625vw;
            letter-spacing: .15em;
            font-weight: 700;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            line-height: 1em;
            padding-left: 3.90625vw;
            position: relative;
            display: inline-block
        }

    body {
        background-image: url(https://api.dujin.org/bing/1920.php);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        margin: 0;
        padding: 0
    }
            .footer__nav__block a::before {
                content: '';
                display: block;
                width: 2.03125vw;
                height: .46875vw;
                background-color: #000;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                margin-top: -.23438vw;
                transition: none
            }

            .footer__nav__block a:hover::before {
                width: 2.03125vw
            }

            .footer__nav__block a:hover span {
                transform: none
            }

        .footer__nav__block span {
            display: block;
            transition: none
        }

    .footer__company {
        letter-spacing: 0;
        font-size: 0;
        width: 87.5%;
        margin: 0 auto;
        margin-bottom: 12.96875vw
    }

        .footer__company li {
            letter-spacing: normal;
            font-size: medium;
            display: inline-block;
            margin-right: 6.25vw;
            vertical-align: top
        }

            .footer__company li img {
                height: 8.59375vw;
                width: auto
            }

            .footer__company li:last-child {
                padding-top: 1.25vw
            }

                .footer__company li:last-child img {
                    height: 6.25vw;
                    width: auto
                }

        .footer__company a {
            display: block
        }

    .footer__sns {
        width: 87.5%;
        margin: 0 auto;
        letter-spacing: normal;
        font-size: medium;
        margin-bottom: 12.5vw;
        text-align: center
    }

    .flooter__links {
        width: 87.5%;
        margin: 0 auto;
        letter-spacing: 0;
        font-size: 0;
        margin-bottom: 3.125vw
    }

        .flooter__links li {
            letter-spacing: normal;
            font-size: medium;
            display: inline-block;
            margin-right: 6.25vw
        }

        .flooter__links a {
            text-decoration: none;
            color: #000;
            font-size: 3.125vw;
            letter-spacing: .05em;
            transform-origin: 0 50%;
            display: block;
            transform: scale(.9);
            line-height: 1.2em
        }

    .footer__rights {
        width: 87.5%;
        margin: 0 auto;
        color: #000;
        font-size: 3.125vw;
        letter-spacing: .05em;
        line-height: 1.4em;
        margin-bottom: 6.25vw;
        transform-origin: 0 0;
        transform: scale(.9)
    }

    .footer__copyright {
        width: 87.5%;
        margin: 0 auto;
        color: #000;
        font-size: 3.125vw;
        letter-spacing: .05em;
        line-height: 1em;
        font-weight: 700;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0 0;
        transform: scale(.9)
    }

    .footer__chara {
        position: relative
    }

    .footer__chara__visual {
        position: relative;
        left: auto;
        bottom: auto;
        z-index: 0
    }

        .footer__chara__visual span {
            display: none
        }

            .footer__chara__visual span.is--current {
                display: block
            }

        .footer__chara__visual a {
            display: block;
            width: 100%;
            height: 100%
        }

        .footer__chara__visual img {
            pointer-events: none;
            width: 100%;
            height: auto
        }

        .footer__chara__visual .footer__chara__visual__c1, .footer__chara__visual .footer__chara__visual__c10, .footer__chara__visual .footer__chara__visual__c11, .footer__chara__visual .footer__chara__visual__c12, .footer__chara__visual .footer__chara__visual__c13, .footer__chara__visual .footer__chara__visual__c14, .footer__chara__visual .footer__chara__visual__c15, .footer__chara__visual .footer__chara__visual__c16, .footer__chara__visual .footer__chara__visual__c17, .footer__chara__visual .footer__chara__visual__c18, .footer__chara__visual .footer__chara__visual__c2, .footer__chara__visual .footer__chara__visual__c3, .footer__chara__visual .footer__chara__visual__c4, .footer__chara__visual .footer__chara__visual__c5, .footer__chara__visual .footer__chara__visual__c6, .footer__chara__visual .footer__chara__visual__c7, .footer__chara__visual .footer__chara__visual__c8, .footer__chara__visual .footer__chara__visual__c9 {
            transform: none;
            padding-top: 12.5vw
        }

 
    .btn--pagetop {
        position: relative;
        right: auto;
        bottom: auto;
        height: auto;
        opacity: 1;
        transform: none;
        transition: none;
        display: block;
        width: 87.5%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 9.375vw
    }

        .btn--pagetop a {
            text-decoration: none;
            color: #fff;
            display: block;
            position: relative;
            width: 100%;
            height: 100%
        }

            .btn--pagetop a:hover .btn--pagetop__icon {
                -webkit-animation: none;
                animation: none
            }

        .btn--pagetop.is--show {
            opacity: 1;
            transform: none
        }

    .btn--pagetop__icon {
        display: block;
        margin-bottom: 3.125vw
    }

        .btn--pagetop__icon img {
            width: 10.9375vw;
            height: auto
        }

    .btn--pagetop__text {
        display: block;
        font-weight: 700;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        letter-spacing: .15em;
        line-height: 1em;
        font-size: 3.125vw;
        transform-origin: 50% 0;
        position: relative;
        left: auto;
        bottom: auto;
        transform: scale(.5)
    }

    #modal {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.9);
        overflow: auto;
        display: none;
        -webkit-overflow-scrolling: touch
    }

    .modal__inner {
        display: table;
        width: 100%;
        height: 100%;
        position: relative
    }

    .modal__block {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 65px 0;
        padding: 20.3125vw 0
    }

    .modal__btnClose {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1
    }

        .modal__btnClose a {
            display: block
        }

        .modal__btnClose img {
            width: 37.5px;
            width: 11.71875vw;
            height: auto
        }

    .modal__closeBg {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0
    }

    .modal__image {
        width: 100%;
        margin: 0 auto;
        position: relative;
        text-align: left;
        display: none
    }

    .modal__image__inner {
        position: relative;
        zoom: 1
    }

        .modal__image__inner::after {
            content: "";
            clear: both;
            display: block
        }

    .modal__image__details {
        position: relative;
        z-index: 0;
        background-color: #000
    }

    .modal__image__details__ph {
        pointer-events: none;
        position: relative
    }

        .modal__image__details__ph img {
            width: 87.5%;
            height: auto
        }

    .modal__image__btnClose {
        width: 12.5vw;
        height: 12.5vw;
        position: absolute;
        left: 6.25vw;
        top: -12.5vw;
        z-index: 1;
        display: table
    }

        .modal__image__btnClose a {
            background-color: #1428ff;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            line-height: 1em;
            transition: none
        }

        .modal__image__btnClose img {
            width: 4.375vw;
            height: auto
        }

    .modal__movie {
        width: 100%;
        margin: 0 auto;
        position: relative;
        text-align: left;
        display: none
    }

    .modal__movie__inner {
        position: relative;
        zoom: 1;
        margin-left: 6.25vw;
        margin-right: 6.25vw;
        background-color: #000
    }

        .modal__movie__inner::after {
            content: "";
            clear: both;
            display: block
        }

    .modal__movie__details__frame {
        position: relative;
        line-height: 1em;
        text-align: center
    }

        .modal__movie__details__frame iframe {
            vertical-align: top
        }

    .modal__movie__btnClose {
        width: 12.5vw;
        height: 12.5vw;
        position: absolute;
        left: 0;
        top: -12.5vw;
        z-index: 1;
        display: table
    }

        .modal__movie__btnClose a {
            background-color: #1428ff;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            line-height: 1em;
            transition: none
        }

        .modal__movie__btnClose img {
            width: 4.375vw;
            height: auto
        }

    .categories {
        position: relative;
        width: 100%;
        z-index: 0;
        margin-bottom: 0
    }

    .categories__inner {
        width: 87.5%;
        margin: 0 auto;
        position: relative;
        padding-bottom: 7.8125vw
    }

    .categories__list ul {
        letter-spacing: 0;
        font-size: 0
    }

    .categories__list li {
        letter-spacing: normal;
        font-size: medium;
        display: inline-block;
        width: 27%;
        margin-right: 9.5%;
        margin-bottom: 4.6875vw;
        text-align: center;
        vertical-align: top;
        line-height: 1em
    }

        .categories__list li:nth-child(3n), .categories__list li:nth-child(6n) {
            margin-right: 0
        }

        .categories__list li.is--current a {
            color: #00f
        }

            .categories__list li.is--current a::before {
                background-color: #00f
            }

    .categories__list a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        color: #fff;
        text-decoration: none;
        font-size: 3.90625vw;
        font-weight: 400;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        line-height: 9.375vw;
        transition: none
    }

        .categories__list a::before {
            content: '';
            display: block;
            width: 100%;
            height: .3125vw;
            background-color: #fff;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 0
        }

        .categories__list a:hover {
            color: #fff
        }

            .categories__list a:hover::before {
                -webkit-animation: none;
                animation: none
            }
}





@media (prefers-color-scheme: dark) {
    .footer {
        display: block;
        width: 100%;
        background-color: #000;
        position: relative
    }

    .footer__inner {
        width: 980px;
        margin: 0 auto;
        position: relative;
        padding: 100px 0
    }

    .footer__logo {
        margin-bottom: 35px;
        position: relative;
        z-index: 1;
        width: 50%
    }

    .footer__nav {
        zoom: 1;
        width: 340px;
        margin-bottom: 50px;
        position: relative;
        z-index: 1
    }

        .footer__nav::after {
            content: "";
            clear: both;
            display: block
        }

    .footer__nav__block {
        width: 50%;
        float: left
    }

        .footer__nav__block p {
            margin-bottom: 25px;
            line-height: 1em
        }

            .footer__nav__block p:last-child {
                margin-bottom: 0
            }

            .footer__nav__block p.is--none {
                pointer-events: none;
                opacity: .3
            }

        .footer__nav__block a {
            text-decoration: none;
            color: #fff;
            font-size: 17px;
            letter-spacing: .15em;
            font-weight: 700;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            line-height: 1em;
            padding-left: 20px;
            position: relative;
            display: inline-block
        }

            .footer__nav__block a::before {
                content: '';
                display: block;
                width: 8px;
                height: 2px;
                background-color: #fff;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                margin-top: -2px;
                transition: all .2s ease-in-out
            }

            .footer__nav__block a:hover::before {
                width: 16px
            }

            .footer__nav__block a:hover span {
                transform: translateX(8px)
            }

        .footer__nav__block span {
            display: block;
            transition: all .2s ease-in-out
        }

    .footer__company {
        letter-spacing: 0;
        font-size: 0;
        margin-bottom: 50px;
        position: relative;
        z-index: 1;
        width: 50%
    }

        .footer__company li {
            letter-spacing: normal;
            font-size: medium;
            display: inline-block;
            margin-right: 40px;
            vertical-align: top
        }

            .footer__company li:last-child {
                padding-top: 7px;
                margin-right: 0
            }

        .footer__company a {
            display: block
        }

    .footer__sns {
        letter-spacing: 0;
        font-size: 0;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
        width: 50%
    }

        .footer__sns li {
            letter-spacing: normal;
            font-size: medium;
            display: inline-block;
            margin-right: 45px;
            vertical-align: top
        }

        .footer__sns a {
            display: block;
            text-decoration: none;
            font-size: 14px;
            letter-spacing: .13em;
            font-weight: 700;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            line-height: 1em
        }

        .footer__sns span {
            display: inline-block;
            margin-right: 10px
        }

    .footer__sns__twitter a {
        color: #00f
    }

    .footer__sns__youtube a {
        color: red
    }

    .flooter__links {
        letter-spacing: 0;
        font-size: 0;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
        width: 50%
    }

        .flooter__links li {
            letter-spacing: normal;
            font-size: medium;
            display: inline-block;
            margin-right: 20px
        }

        .flooter__links a {
            text-decoration: none;
            color: #000;
            font-size: 11px;
            letter-spacing: .05em
        }

    .footer__rights {
        color: #fff;
        font-size: 11px;
        letter-spacing: .05em;
        line-height: 1.8em;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
        width: 50%
    }

    .footer__copyright {
        color: #fff;
        font-size: 11px;
        letter-spacing: .05em;
        line-height: 1em;
        font-weight: 700;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        position: relative;
        z-index: 1;
        width: 50%
    }

    .footer__chara__visual {
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 0
    }

        .footer__chara__visual span {
            display: none
        }

            .footer__chara__visual span.is--current {
                display: block
            }

        .footer__chara__visual a {
            display: block;
            width: 100%;
            height: 100%
        }

        .footer__chara__visual img {
            pointer-events: none
        }

        .footer__chara__visual .footer__chara__visual__c1 {
            transform: translateX(-20px)
        }

        .footer__chara__visual .footer__chara__visual__c2 {
            transform: translateX(-48px)
        }

        .footer__chara__visual .footer__chara__visual__c3 {
            transform: translateX(-65px)
        }

        .footer__chara__visual .footer__chara__visual__c4 {
            transform: translateX(10px)
        }

        .footer__chara__visual .footer__chara__visual__c5 {
            transform: translateX(-34px)
        }

        .footer__chara__visual .footer__chara__visual__c6 {
            transform: translateX(-29px)
        }

        .footer__chara__visual .footer__chara__visual__c7 {
            transform: translateX(8px)
        }

        .footer__chara__visual .footer__chara__visual__c8 {
            transform: translateX(-141px)
        }

        .footer__chara__visual .footer__chara__visual__c9 {
            transform: translateX(-48px)
        }

        .footer__chara__visual .footer__chara__visual__c10 {
            transform: translateX(0)
        }

        .footer__chara__visual .footer__chara__visual__c11 {
            transform: translateX(-280px)
        }

        .footer__chara__visual .footer__chara__visual__c12 {
            transform: translateX(-272px)
        }

        .footer__chara__visual .footer__chara__visual__c13 {
            transform: translateX(-58px)
        }

        .footer__chara__visual .footer__chara__visual__c14 {
            transform: translateX(5px)
        }

        .footer__chara__visual .footer__chara__visual__c15 {
            transform: translateX(29px)
        }

        .footer__chara__visual .footer__chara__visual__c16 {
            transform: translateX(-48px)
        }

        .footer__chara__visual .footer__chara__visual__c17 {
            transform: translateX(-16px)
        }

        .footer__chara__visual .footer__chara__visual__c18 {
            transform: translateX(-44px)
        }

    .header__nav__inner {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0
    }

        .header__nav__inner::before {
            content: '';
            display: block;
            width: 50%;
            height: 100%;
            background-color: #000;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0
        }

        .header__nav__inner::after {
            content: '';
            display: block;
            width: 50%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
            background: url(../img/common/nav_text.png) left center no-repeat;
            background-size: cover
        }

    body.navi {
        background: #000
    }
}
