@font-face {
    font-family: 'SourceHanSansCN';
    src: url('../assets/SourceHanSansCN-Light.otf')format('opentype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'SourceHanSansJP';
    src: url('../assets/SourceHanSansJP-Light.otf')format('opentype'), /* Safari, Android, iOS */
}

*[lang^='zh-CN'] .ms-Fabric,
.ms-Fabric *[lang^='zh-cn'],
.ms-Fabric[lang^='zh-cn'] {
    font-family: 'SourceHanSansCN'， 'Segoe UI', -apple-system, BlinkMacSystemFont, 'SourceHanSansCN', 'Helvetica Neue', sans-serif;
}

body {
    font-family: 'SourceHanSansJP','SourceHanSansCN'
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container .jumbotron {
    width: 1208px;
}

.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-color: #eeeeee;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 768px) {
    .container .jumbotron {
        padding-right: 60px;
        padding-left: 60px;
    }
    .jumbotron {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .container {
        max-width: 750px;
    }

}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}
