html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    border: 0;
    display: block;
    padding: 0
}

html {
    font-size: 8px;
}

.super-responsive-table {
    table-layout: fixed;
}

    .super-responsive-table thead {
        border-bottom: solid #2f353d 2px;
    }

        .super-responsive-table thead th {
            padding: 2rem 1rem;
        }

            .super-responsive-table thead th:first-of-type {
                width: unset
            }

    .super-responsive-table th {
        text-align: left;
        line-height: 1.33333em;
        font-weight: 700;
        font-size: 1.625rem;
        vertical-align: bottom
    }

    .super-responsive-table tr {
        padding: 0 1rem;
    }

        .super-responsive-table tr:last-child {
            border-bottom: 1px solid rgba(47,53,61,0.1)
        }

    .super-responsive-table tbody td {
        padding: 2rem 4rem 2rem 1rem;
        color: #646464;
        line-height: 1.33333em;
    }

        .super-responsive-table tbody td.delimiter {
            border-top: 1px solid rgba(47,53,61,0.1)
        }

    .super-responsive-table tbody a {
        color: #416eec;
        font-weight: 400;
        word-break: break-word
    }

    .super-responsive-table .table--cell-link {
        word-break: break-all
    }

    .super-responsive-table .table--cell-italic {
        font-style: italic
    }

    .super-responsive-table .table--cell-bold {
        font-family: "SST","Noto Sans JP","Hiragino Kaku Gothic ProN","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 500;
        color: #2f353d
    }

    .super-responsive-table .table--cell-align-left {
        text-align: left
    }

    .super-responsive-table .table--cell-align-center {
        text-align: center
    }

    .super-responsive-table .table--cell-align-right {
        text-align: right
    }

    .super-responsive-table li {
        margin-left: 2rem
    }

.super-responsive-table--header {
    position: relative;
}

    .super-responsive-table--header:before, .super-responsive-table--header:after {
        border: 4px solid transparent;
        content: "";
        display: block;
        height: 0;
        right: 5px;
        top: 50%;
        position: absolute;
        width: 0
    }

    .super-responsive-table--header:before {
        border-bottom-color: #666;
        margin-top: -9px
    }

    .super-responsive-table--header:after {
        border-top-color: #666;
        margin-top: 1px
    }

@media screen and (min-width: 768px) {
    .super-responsive-table tbody tr:hover {
        background-color: rgba(0,0,0,0.05)
    }
}

@media screen and (max-width: 768px) {
    .super-responsive-table tr {
        border-bottom: 1px solid rgba(47,53,61,0.1)
    }
}

.super-responsive-table--tactical-battle-panzer-pagination-unit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.responsiveTable {
    width: 100%;
    margin: 1em 0
}

    .responsiveTable td .tdBefore {
        display: none
    }

@media screen and (max-width: 768px) {
    .responsiveTable table, .responsiveTable thead, .responsiveTable tbody, .responsiveTable th, .responsiveTable td, .responsiveTable tr {
        display: block
    }

        .responsiveTable thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px
        }

        .responsiveTable tbody tr {
            padding: 1em 0
        }

        .responsiveTable td, .responsiveTable td.pivoted {
            padding: 1rem 0;
            font-size: 1.625rem;
            border: none !important;
            position: relative;
            padding-left: 55% !important;
            text-align: left !important
        }

    .table--cell-align-center, .table--cell-align-right {
        text-align: left !important
    }

    .responsiveTable td .tdBefore {
        position: absolute;
        display: block;
        left: 0;
        width: 45%;
        padding-right: 10px;
        text-align: left !important;
        font-weight: 500;
        color: #2f353d;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
}

