#wrapper .bgWrap {
    position: absolute;
    background: url("https://static.x-speed.cc/?url=d3d3LmJha2F4bC5jb20=:Lw==:L2Fzc2V0cy9pbWcvM3JkL3RvcC9iZ19saW5lLnBuZw==") no-repeat 0 0;
    width: 100%;
    height: 1292%;
    left: 0;
    top: -50px
}

#wrapper .bg {
    position: absolute
}

#wrapper .bg p {
    float: left;
    position: relative
}

#wrapper .bg.bgLogo1 {
    left: 0;
    top: 0;
    width: 2420px
}

#wrapper .bg.bgLogo1 p.logo2 {
    top: -213px;
    left: -5px
}

#wrapper .bg.bgLogo2 {
    left: 0;
    top: -6px;
    width: 4246px
}

#wrapper .bg.bgLogo2 p.logo2 {
    top: -1020px;
    left: -356px
}

#wrapper #contWrap {
    padding-bottom: 155px
}

#wrapper #contWrap #container {
    padding-top: 26px;
    margin-left: 16px
}

#wrapper #contWrap #container .box {
    float: left;
    margin: 0px 9px 20px 9px;
    display: none
}

#wrapper #contWrap #container .box.sizeLL {
    width: 732px;
    height: 886px;
    position: relative;
    /* background: #ffffff; */
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px
}

#wrapper #contWrap #container .box.sizeLL .catch1 {
    position: absolute;
    right: -3px;
    top: 62px
}

#wrapper #contWrap #container .box.sizeLL .catch2 {
    position: absolute;
    left: 500px;
    /* top: 66px; */
    bottom: 60px;
}

#wrapper #contWrap #container .box.sizeM {
    width: 482px;
    height: 282px;
    background: #ffffff;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px
}

#wrapper #contWrap #container .box.sizeS {
    width: 232px;
    height: 282px;
    background: #ffffff;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px
}

#wrapper #contWrap #container .box.bnRadio img {
    position: relative;
    top: -12px
}

#wrapper #contWrap #container .box.topics {
    width: 230px;
    height: 884px;
    background: #ffffff;
    border: 1px solid #f0f0f0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

#wrapper #contWrap #container .box.topics h2 {
    position: relative;
    padding-top: 9px;
    left: -3px;
    text-align: left;
    margin-bottom: 16px
}

#wrapper #contWrap #container .box.topics ul {
    margin: 0 auto;
    text-align: left
}

#wrapper #contWrap #container .box.topics ul li {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
    padding: 0 20px 15px 20px;
    cursor: pointer
}

#wrapper #contWrap #container .box.topics ul li:last-child {
    border-bottom: none
}

#wrapper #contWrap #container .box.topics ul .image {
    margin-bottom: 9px;
    width: 190px;
    height: 126px;
    overflow: hidden;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px
}

#wrapper #contWrap #container .box.topics ul .image img {
    width: 100%
}

#wrapper #contWrap #container .box.topics ul .title {
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 5px
}

#wrapper #contWrap #container .box.topics ul .date {
    font-size: 12px;
    color: #676767
}

#wrapper #contWrap #container .box.topics ul .txt {
    color: #7e7e7e
}

#wrapper #contWrap #container .box.topics ul .txt a {
    display: none
}

#wrapper #contWrap footer {
    padding-top: 20px;
    display: none
}

.float {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://static.x-speed.cc/?url=d3d3LmJha2F4bC5jb20=:Lw==:L2Fzc2V0cy9pbWcvM3JkL2Zsb2F0QmcucG5n");
    z-index: 9999
}

.float .wrap_f {
    position: fixed;
    width: 100%;
    height: 100%
}

.float .floatIn {
    position: relative;
    top: 50%;
    left: 50%;
    width: 775px;
    height: 500px;
    margin: -250px 0 0 -387.5px;
    text-align: center
}

.float .floatIn .close {
    cursor: pointer;
    position: absolute;
    top: -77px;
    left: -6px
}

.float .floatIn .bdboxCd {
    background: url("https://static.x-speed.cc/?url=d3d3LmJha2F4bC5jb20=:Lw==:L2Fzc2V0cy9pbWcvM3JkL3JhZGlvL2JhY2tudW1iZXIvYmdfYmFja251bWJlci5wbmc=") repeat-y
}

.float .floatIn .bdboxCd .cdImg {
    width: 530px;
    height: 330px;
    margin: 0 auto;
    padding: 22px 0 38px
}

.float .floatIn .bdboxCd .sizeBtn {
    display: inline-block;
    padding-bottom: 26px
}

.float .floatIn .bdboxCd .sizeBtn a:first-child {
    margin: 0 5px 0 2px
}

#modalWrap {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    display: none;
}

#modalWrap .modalBg {
    width: 100%;
    height: 2300px;
    position: absolute;
    left: 0;
    top: 0;
}

#modalWrap .modalWrap {
    width: 770px;
    height: 592px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -385px;
    margin-top: -226px;
}

#modalWrap .modalWrap .playerTop {
    width: 770px;
    height: 20px;
    background: url("https://static.x-speed.cc/?url=d3d3LmJha2F4bC5jb20=:Lw==:L2Fzc2V0cy9pbWcvM3JkL3JhZGlvL2JhY2tudW1iZXIvYmdfYmFja251bWJlcl90b3AucG5n") no-repeat 0 0;
}

#modalWrap .modalWrap .playerMain {
    width: 770px;
    background: url("https://static.x-speed.cc/?url=d3d3LmJha2F4bC5jb20=:Lw==:L2Fzc2V0cy9pbWcvM3JkL3JhZGlvL2JhY2tudW1iZXIvYmdfYmFja251bWJlci5wbmc=") repeat-y 0 0;
    text-align: center;
    padding: 10px 0 12px 0;
}

#modalWrap .modalWrap .playerMain h2 {
    margin-bottom: 28px;
}

#modalWrap .modalWrap .playerMain #player {
    width: 710px;
    height: 399px;
    margin: 0 auto;
}

#modalWrap .modalWrap .playerBottom {
    width: 770px;
    height: 20px;
    background: url("https://static.x-speed.cc/?url=d3d3LmJha2F4bC5jb20=:Lw==:L2Fzc2V0cy9pbWcvM3JkL3JhZGlvL2JhY2tudW1iZXIvYmdfYmFja251bWJlcl9ib3R0b20ucG5n") no-repeat 0 0;
}

#modalWrap .modalWrap .btnClose {
    width: 60px;
    height: 60px;
    background: url("d3d3LmJha2F4bC5jb201.jpg") no-repeat 0 0;
    position: absolute;
    left: 0;
    top: -70px;
    margin-right: 0;
    margin-top: 0;
}

#modalWrap .modalWrap-img .btnClose:hover,
#modalWrap .modalWrap .btnClose:hover {
    cursor: pointer;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

#modalWrap .modalWrap-img h2 a:hover{
    cursor: pointer;
    opacity: 0.97;
    filter: alpha(opacity=97);
}


#modalWrap .modalWrap-img {
    width: 910px;
    height: 570px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -434px;
    margin-top: -300px;
}

#modalWrap .modalWrap-img .btnClose {
    width: 60px;
    height: 60px;
    background: url("d3d3LmJha2F4bC5jb201.jpg") no-repeat 0 0;
    position: absolute;
    left: -50px;
    top: 0px;
    margin-right: 0;
    margin-top: 0;
}


/*.modalBg { background: url("https://static.x-speed.cc/?url=d3d3LmJha2F4bC5jb20=:Lw==:L2Fzc2V0cy9pbWcvM3JkL2Zsb2F0QmdfcmVkLnBuZw==") repeat 0 0 !important; }*/

#modalWrap .modalWrap-img-ch {
    width: 870px;
    height: 1256px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -386px;
    margin-top: -340px;
}

#modalWrap .modalWrap-img-ch .btnClose {
    width: 60px;
    height: 60px;
    background: url("d3d3LmJha2F4bC5jb201.jpg") no-repeat 0 0;
    position: absolute;
    left: -70px;
    top: 0px;
    margin-right: 0;
    margin-top: 0;
}

#wrapper #contWrap #container .box.sizeLL .catch1 a:hover img,
#wrapper #contWrap #container .box.sizeLL .catch2 a:hover img {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0.5;
}