/* core	================================================	*/
.seasonColor { color: #088eff; }

.floatBg { background: url("d3d3LmJha2F4bC5jb20.jpg") repeat 0 0; }
.modalBg { background: url("d3d3LmJha2F4bC5jb20.jpg") repeat 0 0; }



#wrapper #contWrap.onair table th { background: #088eff; }
#wrapper #contWrap.onair table td.cell1 { background: #a6d8ff; }

#wrapper #contWrap.dvd .bdWrap article h3 p.title { background: #088eff; }



#wrapper #contWrap.dvd .bdWrap article .inner .moreWrap .moreDetail .inner { background: #c9eeff; }
