@font-face { font-family: 'Rubik-Regular'; src: url('Graphics/Fonts/Rubik-Regular.woff'); }
@font-face { font-family: 'Tallys'; src: url('Graphics/Fonts/Tallys.woff'); }
@font-face { font-family: '1338D5CE250D7447D52894B2C1DA00C35652'; src: url('Graphics/Fonts/1338D5CE250D7447D52894B2C1DA00C35652.woff'); }